// Reset values
// ====================================
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* CSS Custom property */
:root {
  --clr-dark: rgb(13,17,19);
  --clr-light: #fff;
  --clr-accent: rgb(222, 52, 0);
  --clr-accent-dark: rgb(163, 38, 0);
  --clr-secondary: rgb(0, 76, 199);

  --br: .5em;

  --transition: transform 200ms cubic-bezier(.21, 1.06, .81, 1.00);
}

body {
  font-family: sans-serif;
  min-height: 100vh;
  display: grid;

  /* place-items shorthand property for align-items justify-items */
  place-items: center;
  background: var(--clr-dark);
  color: var(--clr-light);
}

h1,
h2,
h3,
p {
  margin: 0;
}

img {
  max-width: 100%;
}

.btn {
  cursor: pointer;
  border: 0;
  background: var(--clr-secondary);
  border-radius: 100vw;
  color: var(--clr-light);
  font-weight: bold;
  padding: .5em 1.5em;
}

// Component styling
// ====================================
.game {
  position: relative;
  width: 12.5em;
  cursor: pointer;
  border: 1px red solid;
}

.streamers {
  display: flex;
  text-align: center;

  img {
    width: 2em;
    height: 2em;
    border-radius: 50%;
  }
}

.rank {
  position: absolute;
  top: 0;
  right: 1em;
  z-index: 1000;
  font-weight: bold;
  font-size: 1.125rem;
  background: rgba(0,0,0,.65);
  padding: .5em .5em .75em;

  // Use https://bennettfeely.com/clippy/
  // the 50% 85%, is the bottom point, to make it sharper, decrease the 85% size.
  clip-path: polygon(100% 0%, 100% 100%, 50% 85%, 0 100%, 0 0);

  transition: var(--transition);
}

.front {
  transition: 250ms;

  .thumbnail {
    border-radius: var(--br);
  }

  .name {
    // !!!! TODO: Remove later
    opacity: 0;

    margin: .75em 0;
  }
  .stats {
    // !!!! TODO: Remove later
    opacity: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .streamers img {
    border: 2px solid var(--clr-dark);
    &:nth-of-type(1) {
      transform: translateX(50%);
      z-index: 1;
    }
    &:nth-of-type(2) {
      transform: translateX(25%);
    }
  }
}

.back {
  opacity: 0;
  position: absolute;

  //bottom: 0;
  top: 52%; // Try to push down the .back section, or you can use bottom negative value to do it.

  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em; // Gap cannot be used by safari

  // !!!! TODO: Remove later
  opacity: 1;
  border: 2px green solid;

  .streaming-info {
    columns: 2;
    column-rule: 1px solid rgba(255, 255, 255, .25); // Put a line between two columns
  }

  .game-stat {
    font-size: 1.125rem;
    text-align: center;

    span {
      font-size: .85rem;
      display: block;
    }
  }
}

.background {
  background: #234;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;

  // Main reason to create this div is because we need to do some transform on the scale
  //transform: scale(.5);
  transform: scale(.2, .9); // scale(sx, sy). Good technique to make it seems stretches wide rather than stretches tall
  opacity: 0;
  border-radius: var(--br);
}

.game:hover {
  .rank {
    transform: translate(150%, -74%);
  }

  .front {
    transform: translateY(-30%) scale(.8);

    // The original https://popdog.com/ make the name disappear
    // and have another div with the name text appear when on hover.
    .name {
      animation: gameName 250ms forwards; //forwards means keep the state after 100%
    }

    .stats {
      opacity: 0;
    }
  }

  .back {
    opacity: 1;

    // This one only apply to the streamers under the .back section
    .streamers {
      width: 100%;
      display: flex;
      justify-content: space-between;
    }

    .stream {
      // I reckon this one can be keep in the top section as the class .stream is only used under streamers and it doesn't have in the front section
      font-size: .9rem;
    }
  }
  .background {
    transition:
      var(--transition),
      opacity 100ms linear;

    opacity: 1;
    //transform: scale(1.5);
    transform: scale(1.4, 1.2); // Make it stretch less for height
  }
}

// You generally need animation if you want multiple steps
// and you cannot transition the text-align
@keyframes gameName {
  0% {
    text-align: left;
    opacity: 1;
  }

  // Make it disappear
  20% {
    text-align: left;
    opacity: 0;
  }

  // Move position
  50% {
    text-align: center;
    opacity: 0;
    transform: scale(1.2);
  }

  // And reappear from the top
  100% {
    text-align: center;
    opacity: 1;
    transform: scale(1.2);
  }
}






























