// Reset values
// ====================================
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* CSS Custom property */
:root {
  --clr-dark: rgb(13,17,19);
  --clr-light: #fff;
  --clr-accent: rgb(222, 52, 0);
  --clr-accent-dark: rgb(163, 38, 0);
  --clr-secondary: rgb(0, 62, 163);

  --br: .5em;
}

body {
  font-family: sans-serif;
  min-height: 100vh;
  display: grid;

  /* place-items shorthand property for align-items justify-items */
  place-items: center;
  background: var(--clr-dark);
  color: var(--clr-light);
}

h1,
h2,
h3,
p {
  margin: 0;
}

img {
  max-width: 100%;
}

// Component styling
// ====================================
.game {
  position: relative;
  width: 12.5em;
}

.streamers {
  display: flex;
  img {
    width: 2em;
    height: 2em;
    border-radius: 50%;
  }
}

.rank {
  position: absolute;
  top: 0;
  right: 1em;
  font-weight: bold;
  font-size: 1.125rem;
  background: rgba(0,0,0,.65);
  padding: .5em .5em .75em;

  // Use https://bennettfeely.com/clippy/
  // the 50% 85%, is the bottom point, to make it sharper, decrease the 85% size.
  clip-path: polygon(100% 0%, 100% 100%, 50% 85%, 0 100%, 0 0);
}

.front {
  transition: 250ms;

  .thumbnail {
    border-radius: var(--br);
  }

  .name {
    margin: .75em 0;
  }
  .stats {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .streamers img {
    border: 2px solid var(--clr-dark);
    &:nth-of-type(1) {
      transform: translateX(50%);
      z-index: 1;
    }
    &:nth-of-type(2) {
      transform: translateX(25%);
    }
  }
}

.back {
  display: none;
}

.background {
  background: #234;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;

  // Main reason to create this div is because we need to do some transform on the scale
  //transform: scale(.5);
  transform: scale(.2, .9); // scale(sx, sy). Good technique to make it seems stretches wide rather than stretches tall
  opacity: 0;
  border-radius: var(--br);
}

.game:hover {
  .front {
    transform: translateY(-30%);
  }
  .background {
    transition: transform 250ms;

    opacity: 1;
    //transform: scale(1.5);
    transform: scale(1.4, 1.2); // Make it stretch less for height
  }
}
































