// Reset values
// ====================================
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* CSS Custom property */
:root {
  --clr-dark: rgb(13,17,19);
  --clr-light: #fff;
  --clr-accent: rgb(222, 52, 0);
  --clr-accent-dark: rgb(163, 38, 0);
  --clr-secondary: rgb(0, 76, 199);

  --br: .5em;

  --transition: transform 200ms cubic-bezier(.21, 1.06, .81, 1.00);
}

body {
  font-family: sans-serif;
  min-height: 100vh;
  display: grid;

  /* place-items shorthand property for align-items justify-items */
  place-items: center;
  background: var(--clr-dark);
  color: var(--clr-light);
}

h1,
h2,
h3,
p {
  margin: 0;
}

img {
  max-width: 100%;
}

.name {
  font-weight: bold;
}

.streamers {
  display: flex;
  text-align: center;
  border: 1px solid white;
}

.streamers img {
  border-radius: 50%;
}

.icon {
  width: 10em;
  height: 10em;
  position: relative;
}

.icon::before,
.icon::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  border-radius: 50%;
}

/* The part I don't understand here is that why the image is not stack after the icon::before???
   (this happened before we use z-index...)
*/
.icon::before {
  content: "\f04b";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 2em;
  background: #f00;
  display: grid;
  place-items: center;
  z-index: 10;
}

.icon::after {
  background: lightblue;
  z-index: 1;
  animation: pulse 1s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.35);
  }
}















